<table class="table table-striped">

  <tbody>
    <tr>
      <th scope="row">49</th>
      <td style="color: #0069d9">Singing Contest</td>
    </tr>
    <tr>
      <th scope="row">50</th>
      <td style="color: #0069d9">Culture and Politics in European Cinema</td>
    </tr>
    <tr>
      <th scope="row">51</th>
      <td style="color: #0069d9">Workshop on Design for sustainability</td>
    </tr>
    <tr>
      <th scope="row">52</th>
      <td style="color: #0069d9">Smarter HongKong, Smarter Living</td>
    </tr>
  </tbody>
</table>