<table class="table table-striped">

  <tbody>
    <tr>
      <th scope="row">49</th>
      <td>Singing Contest</td>
    </tr>
    <tr>
      <th scope="row">50</th>
      <td>Culture and Politics in European Cinema</td>
    </tr>
    <tr>
      <th scope="row">51</th>
      <td>Workshop on Design for sustainability</td>
    </tr>
    <tr>
      <th scope="row">52</th>
      <td>Smarter HongKong, Smarter Living</td>
    </tr>
  </tbody>
</table>