<form>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="form-group">
                <label for="exampleFormControlInput1">Event Name:</label>
                <input type="EventName" class="form-control" id="exampleFormControlInput" placeholder="Do not wait,enter your name please!">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Short Description:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Do not wait,enter some content please!"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Full Description:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Do not wait,enter all of your content please!"></textarea>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="form-group">
                <label for="InputImageURL">Image URL:</label>
                <input type="Image URl" class="form-control" id="exampleFormControlInput" placeholder="Enter URL">
            </div>
            <div class="form-group">
                <label for="exampleFormControlOrgainzer">Orgainzer:</label>
                <select class="form-control" id="exampleFormControlOrgainzer">
                    <option selected>Government and International Students</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Event Date:</label>
                    <input type="EventDate" class="form-control" id="exampleFormControlInput" placeholder="2018-10-28">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Time:</label>
                    <input type="EventTime" class="form-control" id="exampleFormControlInput" placeholder="19:30-21:00">
                    <div class="form-group">
                        <label for="exampleFormControlVenue">Venue:</label>
                        <select class="form-control" id="exampleFormControlVenue">
                            <option selected>SWT 501</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                            <label for="exampleFormControlInput1">Quota:</label>
                            
                    <select class="custom-select">
                            <option selected>80</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                </div>