<div class="card">
  <div class="card-body">
    <h5 class="card-title" style="color: #0069d9">T-34 Tank</h5>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <img class="card-img-top" src="http://img.kongzhong.com/wot/20160503/13642.jpg" alt="Card image cap">
      </div>
      <div class="col-lg-8 col-md-12">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <div class="row" row="3">
            <td>Today there are some event.</td>
              </div>
          </tr>
            <tr>
            <td>Organizer:Department of Music</td>
            </tr>
            <tr>
            <td>Date:2018-10-29</td>
            </tr>
            <tr>
            <td>Time:19:00-22:00</td>
            </tr>
            <tr>
            <td>Venue:AC Hall</td>
            </tr>
            <tr>
            <td>Quota:350</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>