<div class="card">
        <div class="card-body">
            <h5 class="card-title" style="color: #0069d9">T-34 Tank</h5>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <img class="card-img-top" src="http://img.kongzhong.com/wot/20160503/13642.jpg" alt="Card image cap">
                </div>
                <div class="col-lg-8 col-md-12">
                        <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                  </tr>
                                </tbody>
                              </table>
                </div>
            </div>
        </div>
    </div>