<div class="row">
  <div class="col-lg-6 col-md-12">

    <div class="card" onclick="goDetail('1')">
      <div class="card-body">
        <h4 class="card-title" style="color: #0069d9">Card title</h4>
        <div class="row">
          <div class="col-4">
            <img class="card-img-top" src="http://img.kongzhong.com/wot/news/2012/12/07/4756cf49751354862737.jpg" alt="Card image cap">
          </div>
          <div class="col-8">
            <p class="card-text">Look at this part.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="color: #0069d9">Card title</h4>
        <div class="row">
          <div class="col-4">
            <img class="card-img-top" src="http://img.kongzhong.com/wot/news/2012/12/07/4756cf49751354862737.jpg" alt="Card image cap">
          </div>
          <div class="col-8">
            <p>Look at this part.76868876868</p>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card" onclick="goDetail('1')">
      <div class="card-body">
        <h4 class="card-title" style="color: #0069d9">Card title</h4>
        <div class="row">
          <div class="col-4">
            <img class="card-img-top" src="http://img.kongzhong.com/wot/news/2012/12/07/4756cf49751354862737.jpg" alt="Card image cap">
          </div>
          <div class="col-8">
            <p>Look at this part.</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="color: #0069d9">Card title</h4>
        <div class="row">
          <div class="col-4">
            <img class="card-img-top" src="http://img.kongzhong.com/wot/news/2012/12/07/4756cf49751354862737.jpg" alt="Card image cap">
          </div>
          <div class="col-8">
            <p>Look at this part.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>