<div class="row">
    <div class="col-lg-8 col-md-12">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>

        <div class="row no-gutters">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <img class="card-img-top" src="http://img.kongzhong.com/wot/news/2012/12/07/4756cf49751354862737.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #0069d9">Something about German famous tank E75</h5>
                        <p class="card-text">look at this part.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <img class="card-img-top" src="http://img.kongzhong.com/wot/news/2013/02/06/cbc6faf52a1360118871.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #0069d9">Something about Chinese famoustank Type113</h5>
                        <p class="card-text">look at this part.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="form-group">
                <label for="Eventname">Event name:</label>
                <input type="text" class="form-control" id="Eventname" aria-label="Eventname" aria-describedby="basic-addon1">
            </div>
            <div class="form-group">
                    <label for="Organizer">Organizer:</label>
                    <select class="custom-select" id="inputGroupSelect">
                      <option selected>Select Organizer here</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                      <option value="4">Four</option>
                      <option value="5">Five</option>
                    </select>
            </div>
                    <div class="form-group">
                            <label for="StartDate">Start Date:</label>
                            <input type="text" class="form-control" id="StartDate" aria-label="StartDate" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group">
                                <label for="EndDate">End Date:</label>
                                <input type="text" class="form-control" id="EndDate" aria-label="EndDate" aria-describedby="basic-addon1">
                            </div>
                    
                            <div class="form-group">
                                    <label for="Organizer">Venue:</label>
                                    <select class="custom-select" id="inputGroupSelect">
                                      <option selected>Select Venue here</option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                      <option value="4">Four</option>
                                      <option value="5">Five</option>
                                    </select>
                </div>