<div class="row">
    <div class="col-lg-8 col-md-12">
        <nav aria-label="Page navigation example">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </nav>

        <div class="row no-gutters">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <img class="card-img-top" src="https://briggo.com/wp-content/uploads/2016/03/bootstrap-logo.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #0069d9">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>

                    </div>
                </div>
            </div>